version: '3'
services:
  myapp-main:
    image: fall_2022_s4_keyin:latest
    ports:
      - 8080:8080
    environment:
      - spring.datasource.url=jdbc:mysql://host.docker.internal:3306/spring_2022
#- spring.datasource.url=jdbc:mysql://s4-fall-2022.ce2vcezehro2.us-east-1.rds.amazonaws.com/fall_2022
      - spring.datasource.password=Keyin2021
      - spring.datasource.username=root
      - spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver